
.page-container {
  max-height: calc(100% - 75px);
  min-height: calc(100% - 75px);
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;

  @media screen and (max-width: 550px) {
    max-height: calc(100% - 145px);
    min-height: calc(100% - 145px);
  }
}





