<div class="article-container">
  <h1>{{ article?.title }}</h1>
  <p class="secondary">{{ article?.date }}</p>
  <p>{{ article?.body }}</p>
  <div class="comments-container" *ngIf="isCommentsShow">
    Комментарии:
    <div class="comment" *ngFor="let comment of comments">
      <p>{{ comment.body }}</p>
      <p class="secondary">{{ comment.date }}</p>
    </div>
    <div *ngIf="isAddingComment" class="comment">
      <form [formGroup]="newCommentForm" (ngSubmit)="submitComment()">
        <textarea
          rows="3"
          formControlName="newComment"
          placeholder="Оставь свой комментарий!"
          type="text">
        </textarea>
      </form>
    </div>
  </div>
  <div class="buttons-container">
    <button *ngIf="isCommentsShow" class="comments" (click)="switchAddComment()">
      {{ isAddingComment ? 'Опубликовать комментарий' : 'Добавить комментарий' }}
    </button>
    <button class="comments" (click)="switchShowComments()">
      {{ isCommentsShow ? 'Скрыть комментарии' : 'Показать комментарии' }}
    </button>
  </div>
</div>
