<div class="article-container" *ngIf="article">
  <h1>{{ article.title }}</h1>
  <p class="secondary">{{ article.date }}</p>
  <p>{{ article.body }}</p>
  <div class="comments-container" *ngIf="isCommentsShow">
    {{ !comments?.length ? 'No comments yet' : 'Comments:' }}
    <div class="comment" *ngFor="let comment of comments">
      <p>{{ comment.body }}</p>
      <p class="secondary">{{ comment.date }}</p>
    </div>
    <div *ngIf="isAddingComment" class="comment">
      <form [formGroup]="newCommentForm" (ngSubmit)="submitComment()">
        <textarea
          class="comment-input"
          rows="3"
          formControlName="newComment"
          placeholder="Write your comment!"
          type="text">
        </textarea>
      </form>
    </div>
    <div class="login-message" *ngIf="!isAuth">
      <p class="secondary" *ngIf="!isAuth">Please login to post comments.</p>
    </div>
  </div>

  <div class="buttons-container">
    <button
      *ngIf="isCommentsShow && isAddingComment"
      [disabled]="
        !newCommentForm.value.newComment || this.newCommentForm.get('newComment')?.disabled
      "
      class="comments"
      (click)="submitComment()">
      Send comment
    </button>
    <button
      *ngIf="isCommentsShow"
      class="comments"
      (click)="switchAddComment()"
      [disabled]="!isAuth">
      {{ isAddingComment ? 'Hide comment form' : 'Post comment' }}
    </button>
    <button class="comments" (click)="switchShowComments()">
      {{ isCommentsShow ? 'Hide comments' : 'Show comments' }}
    </button>
  </div>
</div>
