.article-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: solid 1px #cccccc;
  border-radius: 10px;
  padding: 10px;

  h1 {
    color: var(--main_color);
    font-size: 1.7rem;
  }

  .secondary {
    color: #b4b4b4;
    font-size: 0.9em;
  }

  .comments-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-size: 0.8rem;

    .comment {
      padding: 5px;
      margin-left: 15px;
      border: solid 1px #cccccc;
      border-radius: 5px;

      .comment-input {
        width: 100%;
        resize: vertical;
        border: none;
        outline: none;
      }
    }

    .login-message {
      display: flex;
      justify-content: center;
    }
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  button.comments {
    width: 30%;
    align-self: center;
  }
}
