<div class="article-container">
  <h1>{{ article?.title }}</h1>
  <p class="secondary">{{ article?.date }}</p>
  <p>{{ article?.body }}</p>
  <div class="comments-container" *ngIf="showComments">
    Комментарии:
    <div class="comment" *ngFor="let comment of comments">
      <p>{{ comment.body }}</p>
      <p class="secondary">{{ comment.date }}</p>
    </div>
    <div *ngIf="addComment" class="comment">Форма добавления комментария</div>
  </div>
  <div class="buttons-container">
    <button class="comments" (click)="switchShowComments()">
      {{ showComments ? 'Скрыть комментарии' : 'Показать комментарии' }}
    </button>
    <button *ngIf="showComments" class="comments" (click)="switchAddComment()">
      Добавить комментарий
    </button>
  </div>
</div>
