*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html {
  height: 100%;

  body {
    height: 100%;
  }

  a {
    font-weight: 600;
    text-decoration: none;
    color: #3a76a4;

    &.active {
      color: #2b5879;
    }

    &:hover {
      color: #63a6e0;
    }
  }
}

