:root {
  --main_color: #3a76a4
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html {
  height: 100%;

  body {
    height: 100%;
  }

  a {
    font-weight: 600;
    text-decoration: none;
    color: var(--main_color);

    &.active {
      color: #2b5879;
    }

    &:hover {
      color: #63a6e0;
    }
  }

  button {
    background-color: #9fbcd3;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 7px;
    min-width: fit-content;

    &:hover {
      background-color: #7fb0cc;
    }

    &:active {
      background-color: #1388c9;
    }

    &:disabled {
      opacity: 50%;
      background-color: #7fb0cc;
    }
  }
}

